  html {
      background-color: #EFEFEF;
  }

  body {
      word-break: break-all;
      word-wrap: break-word;
      margin: 10px;
  }

  h1.thread-title {
      color: #FF0000;
      font-size:larger;
      font-weight:normal;
      margin: 0 0 0;
  }

  .screen-name {
      color: #008800;
      font-weight:bold;
  }

  #thread-body {
      margin-right: 200px;
  }

  .response-item {
      margin: 5px;
  }

  .response-body {
      margin-top: 5px;
      margin-left: 10px;
  }

  div.post-module {
      margin: 5px;
  }

  .error {
      background: #f5ab9e;
      color: #8c3a2b;
  }

  .success {
      background: #d3eda3;
      color: #72962e;
  }