@(postForm: Form[String])(thread: Thread)(responses: Seq[Response])(implicit flash: Flash)

@main(thread.title + " | simple board") {

@(flash.get("success") match {
case Some(message) => Html("""<p class="success">""" + message + """</p>""")
case None =>
})

<p><a href="/">TOP</a></p>

<h1 class="thread-title">@thread.title</h1>

<div>
    @if(responses.isEmpty){
    <p>レス無し</p>
    }else{
    <dl id="thread-body">
        @responses.zipWithIndex.map {r =>
        <dt>@(r._2+1) : <span class="screen-name">Anonymous</span> : @r._1.createdAt ID:@r._1.userId</dt>
        <dd>@r._1.message</dd>
        }
    </dl>
    }
</div>
<hr>
<div class="post-module">
    <p>レスを付ける</p>
    @helper.form(action = routes.Application.postResponse, 'class -> "pure-form pure-form-stacked") {
    <fieldset>
        <textarea id="message" name="message" rows="5" cols="70">@postForm("message").value</textarea>
        @(postForm.error("message") match {
        case Some(error) => Html("""<p class="error">""" + error.message + """</p>""")
        case None =>
        })
        <input name="thread_id" type="hidden" value="@thread.id">
        <button type="submit" class="pure-button pure-button-primary">post</button>
    </fieldset>
    }
</div>
}
