@(postForm: Form[String])(thread: Thread)(responses: Seq[Response])(implicit flash: Flash, request: RequestHeader)
@import helper._
@main(thread.title + " | simple board") {

@(flash.get("success") match {
case Some(message) => Html("""<p class="success">""" + message + """</p>""")
case None =>
})

<p><a href="/">TOP</a></p>

<h1 class="thread-title">@thread.title</h1>

<div>
    @if(responses.isEmpty){
    <p>レス無し</p>
    }else{
    <div id="thread-body">
    @responses.zipWithIndex.map {r =>
    <div class="pure-g">
        <div class="pure-u">
        <script type="text/javascript">
            data = new Identicon("@r._1.userId", 50).toString();
            document.write('<img width=50 height=50 src="data:image/png;base64,' + data + '"><br>');
        </script>
        </div>
        <div class="pure-u-7-8 response-item">
            <div>
                @(r._2+1) : <span class="screen-name">Anonymous</span> : @r._1.createdAt ID:@r._1.userId
            </div>
            <div class="response-body">@HtmlFormat.raw(HtmlFormat.escape(r._1.message).toString.replaceAll("(\r\n|\r|\n)", "<br>"))</div>
        </div>
    </div>
    }
    </div>
    }
</div>
<hr>
<div class="post-module">
    <span>レスを付ける</span>
    @helper.form(action = routes.Application.postResponse, 'class -> "pure-form pure-form-stacked") {
    <fieldset>
        <textarea id="message" name="message" rows="5" cols="70">@postForm("message").value</textarea>
        @(postForm.error("message") match {
        case Some(error) => Html("""<p class="error">""" + error.message + """</p>""")
        case None =>
        })
        <input name="thread_id" type="hidden" value="@thread.id">
        @CSRF.formField
        <button type="submit" class="pure-button pure-button-primary">post</button>
    </fieldset>
    }
</div>
}
